*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #8a2be2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button{
    width: 90px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
button:hover{
    transform: scale(1.3);
    border-radius: 8px;
    font-weight: 400;
}
.flex{
    display: flex;
    background-color: black;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid white;
}

h1{
    font-size: 50px;
    color: white;
}
#span{
    height: 40px;
    width:40px ;
    background-color: #8a2be2;
    margin: 5px;
    border: 2px solid white;
}